---
export interface Props {
	title: string;
	description: string;
  icon: string;
  banner: string;
}
const { title, description, icon, banner } = Astro.props;
// domain
const domain = String(Astro.site)
const banner_formatted = banner.startsWith('/') ? banner.slice(1) : banner;
const page = new URL(Astro.url.pathname, Astro.site);
import { ViewTransitions } from 'astro:transitions';
---
<!-- DO NOT ADD THE HEAD TAG -->
<!-- sitemap, favicon, title, and metadata -->
<link rel="sitemap" href="/sitemap-index.xml" />
<meta charset="UTF-8" />
<meta name="description" content={description}>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href={icon} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<!-- canonical -->
<link rel="canonical" href={page}>
<!-- Social meta -->
<meta property="og:type" content="website">
<meta property="og:url" content={page}>
<meta property="og:title" content={title}>
<meta property="og:image" content={domain + banner_formatted}>
<meta property="og:description" content={description}>
<meta property="og:site_name" content="Bleeding Stars">
<meta property="og:locale" content="en_US">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@LolbitTheFox14">
<meta name="twitter:creator" content="@LolbitTheFox14">
<meta name="twitter:url" content={page}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={domain + banner_formatted}>
<!-- apple -->
<link rel="apple-touch-icon" href={icon}>
<link rel="apple-touch-startup-image" href={domain + banner_formatted}>
<meta name="apple-mobile-web-app-title" content={title}>
<!-- View transitions -->
<ViewTransitions />